# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# custom
*/migrations
/data
*.note*

# Ignore public folder
/public/assets/avatar-profile/*
!public/assets/avatar-profile/.gitkeep
/public/assets/pdf/*
!public/assets/pdf/.gitkeep

/docker-data

# Ignore all pdf files
*.pdf

# Except dummy.pdf in public/assets/pdf
!public/assets/default/issued-ctc/dummy.pdf
.history


/docker-data
/backups